

@{
    ViewBag.Title = "Lista de Usuarios";
    int fila = 1;
}

<h2>@ViewBag.Title</h2>


<div class="row" style="text-align:right; padding:5px;">

    <a class="btn btn-primary" href="~/Usuario/Crear">Crear</a>
    <a class=" btn btn-default" onmouseover="botones()" onmouseout="ocultar()" onclick=" alert('@Url.Content("~/Usuario/Eliminar/?id")')" />g<a></a>
    <div id="js"></div>
    <div id="js1"></div>
</div>
@if (ViewBag.sms != null)
{
    <div class="col-md-12">
        <div class="alert-success">
            <label>@ViewBag.sms</label>
        </div>
    </div>
}

<div class="row">
    <input type="button" value="Refresh" onclick="ListadoUsuarios()" />
    <div class="table-responsive" id="lista">

        <!--<table class="table">
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Cédula</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th>Usuario</th>
                <th>Rol</th>
                <th>Estado</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>

        </table>-->

    </div>

    <input type="button" value="t" id="btn_clock" />
</div>

@section Scripts {
    
    <script type="text/javascript">
        ListadoUsuarios();
        function ListadoUsuarios() {
            fetch("/Usuario/ListaUsuarios")
                .then(response => {
                    if (response.ok)
                        return response.json()
                    else
                        throw new Error("Ha ocurrido un error. Intente de nuevo.");
                }).then(data => {
                    let res = "";
                    let fila = 1;
                    let urlE = "";
                    res += "<table class='table'><tr><th>#</th><th>Nombre</th>\
                <th>Apellidos</th><th>Cédula</th><th>Teléfono</th><th>Correo</th>\
                <th>Usuario</th><th>Rol</th><th>Estado</th><th>Editar</th><th>Eliminar</th></tr>";

                    for (var i of data) {
                        urlE = 'document.location.href = "/Usuario/Modificar/?id=' + i.id + '"';
                        urlD = 'document.location.href = "/Usuario/Eliminar/?id=' + i.id + '"';
                        res += "<tr><td>" + fila + "</td>\
                        <td>" + i.nombre + "</td>\
                        <td>" + i.apellidos + "</td>\
                        <td>" + i.cedula + "</td>\
                        <td>" + i.telefono + "</td>\
                        <td>" + i.correo + "</td>\
                        <td>" + i.Usuario + "</td>\
                        <td>" + i.Rol + "</td>\
                        <td>" + i.Estado + "</td>\
                        <td><input class='btn btn-success' type='button' value='Editar' onclick='"+ urlE +"'/></td>\
                        <td><input class='btn btn-danger' type='button' value='Eliminar' onclick='"+ urlD +"'/></td>\
                        </tr > "
                        fila++;
                    }
                    res += "</table>"
                    document.getElementById("lista").innerHTML = res;

                })
        }

        function Usuario(id) {
            fetch("/Usuario/Editar/id=" + id)
                .then(response => {
                    if (response.ok)
                        return response.json();
                    else
                        throw new Error("Ha ocurrido un error. Intente de nuevo");
                }).then(data => {
                    console.log(data);
                }).catch(error => {
                    alert(error);
                })
        }

        function Eliminar(id) {
            fetch('@Url.Content("~/Usuario/Eliminar")', {
                method: "Post",
                body: JSON.stringify({
                    id: id
                }), headers: {
                    "Accept": "application/json",
                    "Content-Type":"application/json"
                }
            }).then(response => {
                if (response.ok)
                    return response.text()
                else
                    alert("Ha ocurrido un error.Intente más tarde.")
            }).then(data => {
                if (data = ! "1")
                    alert("Error al intentar eliminar registro.")
                else {
                    alert("Registro Eliminado ecitosamente.")
                }

            })
        }


        document.getElementById("btn_clock").onclick = (() => { prueba()})

function prueba() {
    var l = location.href;
    var url = l + "/editar/";
    alert(url)
    fetch(url, {
        headers: { "Content-Type": "application/json" }
    }).then(response => {
        if (response.ok)
            return response.json()
        else
            alert("error")
    }).then(data => {
        console.log(data)
    })

}

    </script>
}


