
@model Sistema_Taller.Models.Operacion
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar</title>
</head>
<body>
    <div>

        @using (Html.BeginForm())
        {
            <div class="form-group">
                <label for="Rol"> Rol:</label>
                <div class="col-md-10">
                    <input type="hidden" id="idRol"/>
                    <input type="text" class="form-control" id="rol" />
                    <input type="button" class="btn btn-outline-primary" value="Crear Rol" />
                </div>
                <div class="form-group">
                    <h4>Permisos</h4>
                </div>
                <div class="d-inline">
                    <h4>Usuario</h4>
                    <div class="form-check">

                        <input type="checkbox" value="1" id="operacion" class="form-check-input" />
                        <label for="Crear" class="form-check-label">Crear</label>
                    </div>
                    <div class="form-check">

                        <input type="checkbox" value="2" id="operacion" class="form-check-input" />
                        <label for="Editar" class="form-check-label">Editar</label>
                    </div>
                    <div class="form-check">

                        <input type="checkbox" value="3" id="operacion" class="form-check-input" />
                        <label for="Eliminar" class="form-check-label">Eliminar</label>
                    </div>
                    <div class="form-check">

                        <input type="checkbox" value="4" id="operacion" class="form-check-input" />
                        <label for="Listar" class="form-check-label">Listar</label>
                    </div>
                </div>

                <div class="d-inline">
                    <h4>Cliente</h4>
                    <div class="form-check">

                        <input type="checkbox" value="5" id="operacion" class="form-check-input" />
                        <label for="Crear" class="form-check-label">Crear</label>
                    </div>
                    <div class="form-check col-md-6">

                        <input type="checkbox" value="6" id="operacion" class="form-check-input" />
                        <label for="Editar" class="form-check-label">Editar</label>
                    </div>
                    <div class="form-check col-md-6">

                        <input type="checkbox" value="7" id="operacion" class="form-check-input" />
                        <label for="Eliminar" class="form-check-label">Eliminar</label>
                    </div>
                    <div class="form-check col-md-6">

                        <input type="checkbox" value="8" id="operacion" class="form-check-input" />
                        <label for="Listar" class="form-check-label">Listar</label>
                    </div>
                </div>
                <div class="d-inline">
                    <h4>Casos</h4>
                    <div class="form-check">

                        <input type="checkbox" value="9" id="operacion" class="form-check-input" />
                        <label for="Crear" class="form-check-label">Crear</label>
                    </div>
                    <div class="form-check col-md-6">

                        <input type="checkbox" value="10" id="operacion" class="form-check-input" />
                        <label for="Editar" class="form-check-label">Editar</label>
                    </div>
                    <div class="form-check col-md-6">

                        <input type="checkbox" value="11" id="operacion" class="form-check-input" />
                        <label for="Eliminar" class="form-check-label">Eliminar</label>
                    </div>
                    <div class="form-check col-md-6">

                        <input type="checkbox" value="12" id="operacion" class="form-check-input" />
                        <label for="Listar" class="form-check-label">Listar</label>
                    </div>
                </div>

                <div class="form-group col-md-8">
                    <h4>Proveedores</h4>
                    <div class="form-check col-md-6">

                        <input type="checkbox" value="13" id="operacion" class="form-check-input" />
                        <label for="Crear" class="form-check-label">Crear</label>
                    </div>
                    <div class="form-check col-md-6">

                        <input type="checkbox" value="14" id="operacion" class="form-check-input" />
                        <label for="Editar" class="form-check-label">Editar</label>
                    </div>
                    <div class="form-check col-md-6">

                        <input type="checkbox" value="15" id="operacion" class="form-check-input" />
                        <label for="Eliminar" class="form-check-label">Eliminar</label>
                    </div>
                    <div class="form-check col-md-6">

                        <input type="checkbox" value="16" id="operacion" class="form-check-input" />
                        <label for="Listar" class="form-check-label">Listar</label>
                    </div>
                </div>

                <div class="form-group col-md-8">
                    <h4>Stock Repuestos</h4>
                    <div class="form-check col-md-6">

                        <input type="checkbox" value="17" id="operacion" class="form-check-input" />
                        <label for="Crear" class="form-check-label">Crear</label>
                    </div>
                    <div class="form-check col-md-6">

                        <input type="checkbox" value="18" id="operacion" class="form-check-input" />
                        <label for="Editar" class="form-check-label">Editar</label>
                    </div>
                    <div class="form-check col-md-6">

                        <input type="checkbox" value="19" id="operacion" class="form-check-input" />
                        <label for="Eliminar" class="form-check-label">Eliminar</label>
                    </div>
                    <div class="form-check col-md-6">

                        <input type="checkbox" value="20" id="operacion" class="form-check-input" />
                        <label for="Listar" class="form-check-label">Listar</label>
                    </div>
                </div>
                <div class="form-group col-md-8">
                    <h4>Articulos</h4>
                    <div class="form-check col-md-6">

                        <input type="checkbox" value="21" id="operacion" class="form-check-input" />
                        <label for="Crear" class="form-check-label">Crear</label>
                    </div>
                    <div class="form-check col-md-6">

                        <input type="checkbox" value="22" id="operacion" class="form-check-input" />
                        <label for="Editar" class="form-check-label">Editar</label>
                    </div>
                    <div class="form-check col-md-6">

                        <input type="checkbox" value="23" id="operacion" class="form-check-input" />
                        <label for="Eliminar" class="form-check-label">Eliminar</label>
                    </div>
                    <div class="form-check col-md-6">

                        <input type="checkbox" value="24" id="operacion" class="form-check-input" />
                        <label for="Listar" class="form-check-label">Listar</label>
                    </div>
                </div>
                <div class="form-group col-md-8">
                    <h4>Marcas</h4>
                    <div class="form-check col-md-6">

                        <input type="checkbox" value="25" id="operacion" class="form-check-input" />
                        <label for="Crear" class="form-check-label">Crear</label>
                    </div>
                    <div class="form-check col-md-6">

                        <input type="checkbox" value="26" id="operacion" class="form-check-input" />
                        <label for="Editar" class="form-check-label">Editar</label>
                    </div>
                    <div class="form-check col-md-6">

                        <input type="checkbox" value="27" id="operacion" class="form-check-input" />
                        <label for="Eliminar" class="form-check-label">Eliminar</label>
                    </div>
                    <div class="form-check col-md-6">

                        <input type="checkbox" value="28" id="operacion" class="form-check-input" />
                        <label for="Listar" class="form-check-label">Listar</label>
                    </div>
                </div>

                <div class="form-group col-md-8">
                    <h4>Categorias</h4>
                    <div class="form-check col-md-6">

                        <input type="checkbox" value="29" id="operacion" class="form-check-input" />
                        <label for="Crear" class="form-check-label">Crear</label>
                    </div>
                    <div class="form-check col-md-6">

                        <input type="checkbox" value="30" id="operacion" class="form-check-input" />
                        <label for="Editar" class="form-check-label">Editar</label>
                    </div>
                    <div class="form-check col-md-6">

                        <input type="checkbox" value="31" id="operacion" class="form-check-input" />
                        <label for="Eliminar" class="form-check-label">Eliminar</label>
                    </div>
                    <div class="form-check col-md-6">

                        <input type="checkbox" value="32" id="operacion" class="form-check-input" />
                        <label for="Listar" class="form-check-label">Listar</label>
                    </div>
                </div>

            </div>

        }
    </div>
</body>
</html>

@section Scripts{

    <script>
        var r;
        onload = function () {
            let id = parseFloat(/\d+$/.exec(this.location.href));
            console.log(id)
            DReponse("/Rol/PermisosRol/?id=" + id, null, (x) => {
                r = x
                document.getElementById("idRol").value = x.IdRol;
                document.getElementById("rol").value = x.Nombre;
                x.Permisos.forEach(x => {
                    for (let i of document.querySelectorAll("input[type=checkbox]")) {

                        if (i.value == x.IdOperacion) {
                            i.checked = true;
                        }
                    }
                });
            });
        }

        document.querySelector("input[type=button]").addEventListener("click", function () {

            var permisos = [];

            for (let i of document.querySelectorAll("input[type=checkbox]")) {
                if (i.checked) {
                    permisos.push({ IdOperacion: i.value });
                }

            }      
            DRequest("/Rol/Editar", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    IdRol: document.getElementById("idRol").value,
                    NombreRol: document.getElementById("rol").value,
                    Operaciones: permisos
                })

            })

        })

        var DRequest = async (url, options = null) => {
            return await fetch(url, options)
                .then(response => response.json())
                .then(data => {
                    alert("dato guardado")
                }).catch(error => console.error(error))
        }

        var DReponse = async (url, options = null,callback) => {
            return await fetch(url, options)
                .then(response => response.json())
                .then(data => callback(data)
                ).catch(error => console.error(error))
        }
    </script>
}