
@{
    ViewBag.Title = "Negocio";
}

<h2>Hola</h2>

<div class="form-group">
    <input value="Negocio" class="btn dropdown" type="button" onclick="formNegocio()" />
</div>

<div class="row">
    <div class="col-md-12" id="Negocio">
        
    </div>
</div>

@section Scripts {
    <script>

        function formNegocio() {

            
            var form = document.createElement("form");
            var labelNombre = document.createElement("label");
            labelNombre.textContent="Nombre:";
            form.appendChild(labelNombre);
            var div = document.querySelector("#Negocio");
            div.appendChild(form);

        }

    </script>
}
